.path-finder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  width: 24px;
  height: 24px;
}

.table {
  display: table;
  border: 1px cyan solid;
  width: 1200px;
  padding-left: 15px;
}
